{% extends "base.html" %}
{% block content %}
<h2>Especialidade</h2>

<h3>Buscar especialidade</h3>
<form action="{{ url_for('especialidades_bp.buscar') }}" method="GET">
    <div>
        <label>Código da especialidade:</label>
        <input type="text" name="codigo" required>
        <button type="submit">Buscar</button>
    </div>
</form>

<hr>

<h3>Dados da especialidade</h3>
<form action="{{ url_for('especialidades_bp.cadastrar_especialidade_flask') }}" method="POST">
    <div>
        <label>Código:</label>
        <input type="text" name="codigo" readonly value="{{ especialidade.codigo if especialidade }}">
    </div>
    <div>
        <label>Especialidade:</label>
        <input type="text" name="especialidade" required value="{{ especialidade.descricao_esp if especialidade }}">
    </div>
    <div>
        <label>Valor da consulta:</label>
        <input type="text" name="valor" required value="{{ especialidade.valor_consulta if especialidade }}">
    </div>
    <div>
        <label>Limite diário de consulta:</label>
        <input type="text" name="limite" required value="{{ especialidade.limite_diario if especialidade }}">
    </div>
    <div class="botoes">
        <button type="submit" name="acao" value="cadastrar">Cadastrar</button>
        <button type="submit" name="acao" value="excluir">Excluir</button>
        <button type="submit" name="acao" value="editar">Editar</button>
    </div>
</form>

{% endblock %}
