{% extends "base.html" %}

{% block content %}
    <h2>Relatório de Consultas</h2>
    
    {% if consultas %}
    <table class="relatorio-tabela">
        <thead>
            <tr>
                <th>Código</th>
                <th>Paciente</th>
                <th>Médico</th>
                <th>Exame</th>
                <th>Data</th>
                <th>Hora</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.codigo }}</td>
                <td>{{ consulta.paciente }}</td>
                <td>{{ consulta.medico }}</td>
                <td>{{ consulta.exame }}</td>
                <td>{{ consulta.data }}</td>
                <td>{{ consulta.hora }}</td>
                <td>{{ consulta.valor }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td> 
                
                <td style="text-align: right; font-weight: bold; padding-top: 10px;">
                    TOTAL DE PACIENTES: {{ contador }}
                </td>
                
                <td colspan="2" style="text-align: right; font-weight: bold; padding-top: 10px;">
                    VALOR TOTAL: R$ {{ valor_total }}
                </td>
            </tr>
        </tfoot>
        </table>
    {% else %}
    <p class="mensagem-sem-registros">Nenhuma consulta encontrada.</p>
    {% endif %}
{% endblock %}